{% extends "base.html" %}

{% block head %}
<title>songmash - {{ artist }}</title>
<style>
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.bs-docs-section {
    margin-top: 4em;
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-1">
                <h1><a href='/voting/{{ artist }}' class="btn btn-outline-danger">Back</a></h1>
            </div>
            <div class="col-lg-10" style="text-align: center;">
                <h1>{{ artist }}</h1>
                <p class="lead">Current Rankings</a></p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col" align="center">
                <p class="lead" style="color: white;">There is not enough data to provide an accurate ranking for this artist, keep <a href='/voting/{{ artist }}'>voting</a>!</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}

{% block javascript%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}