{% extends "base.html" %}

{% block head %}
<title>songmash - {{ artist.name }}</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
<style>
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.bs-docs-section {
    margin-top: 4em;
}
.table tr th {
    border-bottom: 1px solid #404040;
    border-top: 0px
}
.table tr td {
    border-bottom: 1px solid #404040
}
</style>
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-1">
                <h1><a href='/voting/{{ artist.artistid }}' class="btn btn-outline-danger">Back</a></h1>
            </div>
            <div class="col-lg-10" style="text-align: center;">
                <h1>{{ artist.name }}</h1>
                <p class="lead">Current Rankings</a></p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="bs-docs-section clearfix">
        <div class="row" style="margin-bottom: 2vh;">
            <div class="col-lg-12">
                <div style="height: 7cm;">
                    <canvas id="canvas"></canvas>
                    <!-- <div id="placeholder" style="padding: 10px; min-height:20vh;"></div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" align="center">
                <div style="color: #f5f5f5">
                    <table class="table">
                        <thead>
                            <th scope="col">Rank</th>
                            <th scope="col">Song</th>
                            <th scope="col">Elo</th>
                        </thead>
                        <tbody>
                        {% for i in range(tracks|length) %}
                            <tr>
                                <td>{{i+1}}.</td>
                                <td>{{tracks[i].name}}</td>
                                <td>{{'{:.0f}'.format(tracks[i].elo)}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-6" align="center">
                <div style="color: #f5f5f5">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">Rank</th>
                            <th scope="col">Album</th>
                            <th scope="col">Avg Elo</th>
                        </thead>
                        <tbody>
                        {% for i in range(albums|length) %}
                            <tr>
                                <td>{{i+1}}.</td>
                                <td>{{albums[i].name}}</td>
                                <td width="15%">{{'{:.0f}'.format(albums[i].mean_elo)}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.resize.min.js"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type="text/javascript">
    $(document).ready(function(){
        Chart.defaults.global.defaultFontColor='#f5f5f5';
        Chart.defaults.global.defaultFontFamily = 'IBM Plex Sans';
        var ctx = document.getElementById('canvas').getContext('2d');
        $.getJSON($SCRIPT_ROOT + '/_get_plot_data', {
                artist: "{{ artist.artistid }}"
            }, function(plotdata) {
                window.myScatter = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: plotdata[0]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animation: {
                            duration: 0
                        },
                        legend: {
                            position: 'right',
                            labels: {
                                boxWidth: 10
                            }
                        },
                        tooltips: {
                            custom: function(tooltip) {
                                if (!tooltip) return;
                                tooltip.displayColors = false;
                            },
                            callbacks: {
                                afterLabel: function(tooltipItem, data) {
                                    var y = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].y
                                    return 'Elo: '+Math.round(y)
                                },
                                label: function(tooltipItem, data) {
                                    var x = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].x
                                    return plotdata[1][x-1]
                                },
                            }
                        },
                        scales: {
                            xAxes: [{
                                gridLines: {
                                    display: false,
                                },
                                scaleLabel: {
                                    display: false
                                },
                                ticks: {
                                    display: false
                                }
                            }],
                            yAxes: [{
                                gridLines: {
                                    color: '#404040',
                                    zeroLineColor: '#404040',
                                    drawBorder: false
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Rating'
                                }
                            }]
                        }
                    }
                });

    });

    })
</script>
{% endblock %}
