{% extends "base.html" %}

{% block head %}
<title>songmash - {{ artist.name }}</title>
<style>
a:hover img {
    border: none !important;
    display: block;
}
img.card-img-top {
    padding: 5px;
    min-width: 200px;
    max-width: 300px;
}
.bs-docs-section {
    margin-top: 2vh;
}
.animated {
    animation-duration: 1.5s;
}
.spotifyLink {
    position: absolute;
    bottom: 0;
    right: 0;
}
</style>
{% endblock %}

{% block content %}


<div id="content" class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="text-align: center;">
                <h1>{{ artist.name }}</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div style="display: inline-block;" class="mx-auto alert alert-dismissible alert-{{category}}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <p class="lead"><a href="/ranking/{{ artist.artistid }}">Current Rankings</a></p>
            </div>
            <div class="col-lg-1">
                <h1><a href='/update/{{ artist.artistid }}' class="btn btn-outline-info" onclick="loading();">Update Artist</a></h1>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="bs-docs-section clearfix">
        <div class="row" style="min-height: 450px;">
            <div id="trackcol" class="col animated fadeInLeftBig" align="center">
                <div id="track1card" class="card" style="max-width: 300px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    {% if track1.album.art != None %}
                        <a href="#"><img class="card-img-top" id=track1 src="{{ track1.album.art }}"></a>
                    {% else %}
                        <a href="#"><img class="card-img-top" id=track1 src="{{ url_for('static', filename='img/noart.png') }}"></a>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">{{ track1.name }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text" style="text-align: center;">{{ track1.album }}</p>
                    </div>
                    {% if 'spotify-token' in session and track1.spid %}
                        <div class="spotifyLink"><a href="https://open.spotify.com/track/{{ track1.spid }}" target="_blank"><img src="{{ url_for('static', filename='img/spotifyicon.png') }}" width="20" height="20"></a></div>
                    {% endif %}
                </div>
            </div>
            <div class="col animated fadeInRightBig pulse" align="center">
                <div id="track2card" class="card" style="max-width: 300px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    {% if track2.album.art != None %}
                        <a href="#"><img class="card-img-top" id=track2 src="{{ track2.album.art }}"></a>
                    {% else %}
                        <a href="#"><img class="card-img-top" id=track2 src="{{ url_for('static', filename='img/noart.png') }}"></a>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text" style="text-align: center;">{{ track2.name }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text" style="text-align: center;">{{ track2.album }}</p>
                    </div>
                    {% if 'spotify-token' in session and track2.spid %}
                        <div class="spotifyLink"><a href="https://open.spotify.com/track/{{ track2.spid }}" target="_blank"><img src="{{ url_for('static', filename='img/spotifyicon.png') }}" width="20" height="20"></a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="bs-docs-section clearfix" align="center">
            <p style="color: white; text-align: center;">Click on album art or use left and right arrow keys to vote. Down arrow to skip.</p>
        <p><button class="btn btn-secondary" onclick="location.reload();">Skip matchup</button></p>
    </div>
</div>
{% endblock %}

{% block javascript%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    $.fn.extend({
    animateCss: function(animationName, callback) {
        var animationEnd = (function(el) {
        var animations = {
            animation: 'animationend',
            OAnimation: 'oAnimationEnd',
            MozAnimation: 'mozAnimationEnd',
            WebkitAnimation: 'webkitAnimationEnd',
        };

        for (var t in animations) {
            if (el.style[t] !== undefined) {
            return animations[t];
            }
        }
        })(document.createElement('div'));

        this.addClass('animated ' + animationName).one(animationEnd, function() {
        $(this).removeClass('animated ' + animationName);

        if (typeof callback === 'function') callback();
        });

        return this;
    },
    });
</script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(function() {
        $('#track1').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_adjust_elo', {
                winner: {{ track1.id }},
                loser : {{ track2.id }},
            }, function(data) {
                $('#track2card').addClass('animated fadeOutRight');
                $('#track1card').animateCss('pulse', function () {
                    location.reload();
                });
            });
        });
        $('#track2').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_adjust_elo', {
                winner: {{ track2.id }},
                loser : {{ track1.id }},
            }, function(data) {
                $('#track1card').addClass('animated fadeOutLeft');
                $('#track2card').animateCss('pulse', function () {
                    location.reload();
                });
            });
        });
    });
    $(document).keyup(function(e) {
        if (e.which == 37) {
            $.getJSON($SCRIPT_ROOT + '/_adjust_elo', {
                winner: {{ track1.id }},
                loser : {{ track2.id }},
            }, function(data) {
                location.reload();
            });
        }
        if (e.which == 39) {
            $.getJSON($SCRIPT_ROOT + '/_adjust_elo', {
                winner: {{ track2.id }},
                loser : {{ track1.id }},
            }, function(data) {
                location.reload();
            });
        }
        if (e.which == 40) {
            location.reload();
        }
    })
</script>
{% endblock %}